# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [79]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [80]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

In [81]:
df = pd.read_csv(url,sep='\t')

### Step 3. Assign it to a variable called chipo.

In [82]:
chipo = df

### Step 4. See the first 10 entries

In [83]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [84]:
# Solution 1
chipo.index

RangeIndex(start=0, stop=4622, step=1)

In [85]:
# Solution 2

### Step 6. What is the number of columns in the dataset?

In [86]:
len(chipo.columns)

5

### Step 7. Print the name of all the columns.

In [87]:
for x in chipo.columns:
    print(x)
chipo.columns

order_id
quantity
item_name
choice_description
item_price

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

### Step 9. Which was the most-ordered item?

In [88]:
chipo.item_name.value_counts()

Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Steak Bowl                               211
Chips                                    211
Bottled Water                            162
Chicken Soft Tacos                       115
Chips and Fresh Tomato Salsa             110
Chicken Salad Bowl                       110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Izze                                      20
Chips and Tomatillo-Red Chili Salsa       20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Veggie Soft Tacos                          7
Carnitas Crispy Tacos                      7
Burrito                                    6
Veggie Salad                               6
Carnitas Salad Bowl                        6
Steak Salad                                4
Bowl                                       2
Crispy Tacos                               2
Salad                                      2
Chips and Mild Fresh Tomato Salsa          1
Veggie Crispy Tacos                        1
Carnitas Salad                             1
Name: item_name, dtype: int64

### Step 10. For the most-ordered item, how many items were ordered?

In [89]:
a = chipo['item_name']== 'Chicken Bowl'
chipo[a]['quantity'].sum()

761

In [90]:
chipo[['item_name','quantity']].groupby(by='item_name').sum()

                                       quantity
item_name
6 Pack Soft Drink                            55
Barbacoa Bowl                                66
Barbacoa Burrito                             91
Barbacoa Crispy Tacos                        12
Barbacoa Salad Bowl                          10
Barbacoa Soft Tacos                          25
Bottled Water                               211
Bowl                                          4
Burrito                                       6
Canned Soda                                 126
Canned Soft Drink                           351
Carnitas Bowl                                71
Carnitas Burrito                             60
Carnitas Crispy Tacos                         8
Carnitas Salad                                1
Carnitas Salad Bowl                           6
Carnitas Soft Tacos                          40
Chicken Bowl                                761
Chicken Burrito                             591
Chicken Crispy Tacos                         50
Chicken Salad                                 9
Chicken Salad Bowl                          123
Chicken Soft Tacos                          120
Chips                                       230
Chips and Fresh Tomato Salsa                130
Chips and Guacamole                         506
Chips and Mild Fresh Tomato Salsa             1
Chips and Roasted Chili Corn Salsa           23
Chips and Roasted Chili-Corn Salsa           18
Chips and Tomatillo Green Chili Salsa        45
Chips and Tomatillo Red Chili Salsa          50
Chips and Tomatillo-Green Chili Salsa        33
Chips and Tomatillo-Red Chili Salsa          25
Crispy Tacos                                  2
Izze                                         20
Nantucket Nectar                             29
Salad                                         2
Side of Chips                               110
Steak Bowl                                  221
Steak Burrito                               386
Steak Crispy Tacos                           36
Steak Salad                                   4
Steak Salad Bowl                             31
Steak Soft Tacos                             56
Veggie Bowl                                  87
Veggie Burrito                               97
Veggie Crispy Tacos                           1
Veggie Salad                                  6
Veggie Salad Bowl                            18
Veggie Soft Tacos                             8

### Step 11. What was the most ordered item in the choice_description column?

In [91]:
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 12. How many items were orderd in total?

In [92]:
chipo.iloc[:,1].sum()

4972

### Step 13. Turn the item price into a float

In [93]:
chipo['item_price'] = chipo['item_price'].str.strip('$')

#### Step 13.a. Check the item price type

In [94]:
chipo['item_price'].dtypes

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [107]:
chipo['item_price'] = chipo['item_price'].apply(lambda x : float(x))

#### Step 13.c. Check the item price type

In [108]:
chipo['item_price'].dtypes

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [109]:
chipo.item_price.sum()

34500.16

### Step 15. How many orders were made in the period?

In [110]:
chipo.order_id.count()

4622

### Step 16. What is the average revenue amount per order?

In [111]:
# Solution 1
chipo.item_price.sum()/chipo.order_id.count()

7.464335785374297

In [112]:
# Solution 2

(chipo.item_price/chipo.order_id.count()).sum()

7.464335785374296

### Step 17. How many different items are sold?

In [113]:
chipo['item_name'].unique()
chipo['item_name'].nunique()

50